<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016069558713-jptlhrrori1m079bhbbv8t604pkbt9j6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016069558713-jptlhrrori1m079bhbbv8t604pkbt9j6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1016069558713-8b6d3kpe4m2v1mcf5kceri6ulphk0c0e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA09oEI_Jrpip4tcyGiSszIQHpyNwjoil8</string>
	<key>GCM_SENDER_ID</key>
	<string>1016069558713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.mentalhealthassistance</string>
	<key>PROJECT_ID</key>
	<string>mental-health-assistance-49a4c</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-health-assistance-49a4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016069558713:ios:1e57cc52c1a0e6d73de668</string>
</dict>
</plist>